@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --darkest-blau: #3A4856;
  --hansenberg-blau: #006b9e;
  --lighter-blau: #1c9cd9;
  --orange: #E59D23;
  --almost-white: #F3FAFF;
}
html[data-theme='light']{
  --background-color: var(--almost-white);
  --text-color: var(--darkest-blau);
  --link-color: var(--lighter-blau);
}
html[data-theme='dark']{
  --background-color: var(--darkest-blau);
  --text-color: var(--almost-white);
  --link-color: var(--orange);
}

.usual-color {
  background-color: var(--background-color);
  color: var(--text-color);
}
.usual-color a {
  color: var(--link-color);
}
.contrast-color {
  background-color: var(--hansenberg-blau) !important;
  color: var(--almost-white) !important;
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--lighter-blau);
}

:root body {
  margin: 0px;
  background-color: var(--background-color);
}
