@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --almost-black: #172531;
  --darkest-blau: #3A4856;
  --hansenberg-blau: #006b9e;
  --lighter-blau: #1c9cd9;
  --orange: #E59D23;
  --orange-shade: #BA7900;
  --almost-white: #F3FAFF;
}
html[data-theme='light']{
  --background-color: var(--almost-white);
  --text-color: var(--darkest-blau);
  /* Links */
  --link-color: var(--lighter-blau);
  --link-color-hover: var(--hansenberg-blau);
  /* Nav */
  --nav-bg: var(--hansenberg-blau);
  --nav-fg: var(--almost-white);
}
html[data-theme='dark']{
  --background-color: var(--darkest-blau);
  --text-color: var(--almost-white);
  /* Links */
  --link-color: var(--orange);
  --link-color-hover: var(--orange-shade);
  /* Nav */
  --nav-bg: var(--almost-black);
  --nav-fg: var(--almost-white);
}

.wrapper {
  padding: 4rem 2rem;
  min-height: 500px;
  background-color: rgba(0,0,0,0.03);
}
[data-theme='dark'] .wrapper{
  background-color: rgba(0,0,0,0.1);
}

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

.usual-color {
  background-color: var(--background-color);
  color: var(--text-color);
}
.usual-color a {
  color: var(--link-color);
}
.usual-color a:hover {
  color: var(--link-color-hover);
}
.contrast-color {
  background-color: var(--hansenberg-blau) !important;
  color: var(--almost-white) !important;
}

#app {
  /* font-family: 'Roboto', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--lighter-blau);
  margin: 0 auto;
  height: 100%;
  padding-top: 50px;
}

:root body {
  margin: 0px;
  background-color: var(--background-color);
}

.small-width {
  max-width: 540px;
  width: 100%;
}
[data-theme='light'] .box-background {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
[data-theme='dark'] .box-background {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
[data-theme='dark'] .alert-danger {
  color: rgb(226, 93, 93);
  background-color: rgba(92, 25, 25, 0.567);
  border: 1px solid rgba(110, 5, 5, 0.623);
  border-radius: 5px;
}
.pos-rel {
  position: relative;
}
.put-right {
  position: absolute;
  right: 0px;
}
.put-up {
  position: absolute;
  top: 0px;
}